@media(min-width:768px) {
    .consultation-card {
        flex: 0 0 20% !important;
        padding: 10px;
        text-align: center;
    }

}

.container.box1.box-general-questions .profile-card_1 {
    padding: 0;
    margin: 5px !important;
    border: none !important;
}

.container.box1.box-general-questions .col-lg-3.col-md-6.col-sm-12 {
    flex: 0 0 15%;
    padding: 0;

    width: 100%;
    border: 1px solid #fff;
    min-height: 170px;
    max-height: 170px;
    margin: 5px;
    border-radius: 15px;
}

.container.box1.box-general-questions .row {
    gap: 10px;
    justify-content: center;
}

.box-sign {
    margin-bottom: 20px !important;
    padding-bottom: 40px !important;
}

.list_contact_info:lang(ar) {
    text-align: initial;
    margin-left: 10px;
    margin-right: 10px;
}

.box-news.mt-3 {
    text-align: initial;
}

.selected-filter {
    background: #000;
    color: #fff !important;
}

h2.text_explore_lawyer {
    text-align: center;
    margin-bottom: 10px;
}

div:lang(ar) .custom-control-label::before,
div:lang(ar) .custom-control-label::after {
    left: unset !important;
    right: -1.5rem;
}

.col-lg-4.col-md-6.col-sm-12.consultation-card.bill-card {
    text-align: center;
    /* border: 1px solid #494646; */
}

.col-12.d-flex.header_lang.col-12.d-flex.header_lang>.col-12:nth-child(1) {
    padding: 0 !important;
}

.case-details-content {
    text-align: initial !important;
    gap: 20px;
}

.legend.mt-3 {
    text-align: initial;
}

.img-user-suggestion {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;

}

.list-document-dashboard.suggestion-page {
    gap: 5px !important;
}

.col-md-3.img-suggestion {
    padding: 0;
}

.list-document-dashboard.list-document-dashboard .col-md-6 {
    text-align: initial;
    padding: 5px;
    margin: 0 !important;
}

.fixed-btn-nav {
    display: none !important;
}

ul.navbar-nav {
    z-index: 1222324242424242;
}

/* @media (max-width: 600px) { */
#myChartCompany {
    height: 300px;
}

#myChartAdmin {
    height: 300px;
}

#myChartLawyer {
    height: 300px;
}

/* } */
@media (min-width: 768px) and (max-width: 991px) {
    #myChartLawyer {
        height: 400px;
        /* تعديل الارتفاع للتوافق مع هذا النطاق */
        width: 100%;
        /* التأكد من أن العرض يتناسب مع الشاشة */
    }
}

.bill-details {
    text-align: initial;
}

.invoice .container.box-profile-1 {
    width: 100% !important;
    max-width: 100% !important;
}

.invoice {
    max-width: 100%;
}

@media (max-width:768px) {
    .box-profile-1 button.tablinks {
        font-size: 13px;
        font-weight: 600 !important;
    }

    .show-lawyer-page .row>div {
        padding: 0;
    }


    input.title-consultation {
        max-width: 100%;
    }

    .text-Questions {
        display: block !important;
    }

    .card.box.card-1.card_send_consultation {
        margin-top: 20px;
    }

    :has(.row.general-question-dash) .content .col-md-6 {
        padding: 0;
    }

    .lawyer-card h5.company-name {
        font-size: 16px;
        display: block;
    }

    .footer-media {
        display: none;
    }

    .profile-gq .img-client-question {
        width: 85px;
        height: auto;
        aspect-ratio: 1;
        object-fit: contain;
    }

    :has(.row.general-question-dash) .content {
        padding: 5px;
    }

    :has(.row.general-question-dash) .content .col-md-6 {
        padding: 0;
    }

    .show-lawyer-page .profile-image img {
        width: 151px !important;
        height: auto;
        aspect-ratio: 1;
    }

    .license img.img-fluid.img_certification_license_profile.clickable {

        aspect-ratio: 1 !important;

    }

    .license .col-4 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }

    .container.show-lawyer-page h5 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .description {
        width: 100%;
    }

    .container.show-lawyer-page .card.box {
        padding: 10px 0 !important;
    }

    .fixed-btn-nav .footer {
        color: rgb(164 164 164) !important;

    }

    nav :is(.notification, .chat-nav, .dashboard-nav) {
        display: none !important;
    }

    body {
        padding-bottom: 50px !important;
    }

    .fixed-btn-nav a {
        padding: 10px 5px;
    }

    .fixed-btn-nav {
        display: flex !important;
        position: fixed;
        z-index: 14444444444;
        background: #363636;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        justify-content: space-around;
        width: 100%;
        text-align: center;
    }

    li.nav-item.nav-box-header {
        display: inline-block;
        /* flex: 1 1 30%; */
        max-width: 100% !important;
        width: auto !important;
        margin: 0;
    }

    .form-group-sign.available-24.col-md-12 {
        padding: 5px;
    }

    ul.navbar-nav {
        text-align: initial;
    }

    .navbar-nav li {
        text-align: initial;
    }

    .container.box1.box-general-questions .col-lg-3.col-md-6.col-sm-12 {
        flex: 0 0 45%;
        min-height: 200px;
        max-height: 200px;
        margin: 5px;
        border-radius: 15px;
    }

    .container.box1.box-general-questions {
        margin-bottom: 50px !important;
    }

    .feature img {
        width: 40px;

    }

    section.home-home .col-lg-6.col-md-12.col-sm-12 {
        padding: 5px;
    }

    h2.title_general_question {
        font-size: 24px;
    }

    .file-upload label {
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }

    .Expertise.col-md-3 label {
        font-size: 13px;
        font-weight: 700;
    }

    .Expertise.col-md-3 {
        width: 50%;
        text-align: initial;
    }

    .container.box-sign.mt-5 .row {
        padding: 5px;
        margin: 0;
    }

    .col-lg-12.col-md-12.col-sm-12.box-news-2 {
        display: flex;
        gap: 10px;
        padding: 5px !important;
    }

    .box-Questions-1 {
        margin: 0 !important;
    }

    a#navbarDropdownMenuLink {
        background: none;
    }

    .col-12.d-flex.header_lang {
        padding: 10px 0;
    }

    .filter-translation-companies {
        width: 100%;
        justify-content: space-around;
    }

    .box1 {
        margin-bottom: 20px;
    }

    .profile-card img {
        max-width: 75%;


    }

    .sidebar.explore_lawyer .row {
        display: block !important;
    }

    .sidebar.explore_lawyer .container {
        max-width: 100% !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    a.language-link,
    a.practice-link {
        width: 49% !important;
        margin-top: 5px;
        margin-bottom: 5px;
        display: inline-block !important;
    }

    .sidebar.explore_lawyer .col-lg-6 {
        padding: 5px;
        display: block !important;

    }

    .content {

        height: auto !important;

    }

    .content.explore_lawyer.col-lg-8.col-md-9.col-sm-12 {
        padding: 5px !important;
    }

    .col-lg-2.col-md-6.col-sm-4.card-company {
        padding: 5px;
    }

    .content.explore_lawyer .profile-card {
        flex: 1 1 45%;
        padding: 5px;
        margin: 10px auto;
        max-width: 45%;
    }

    .content.explore_lawyer .profile-card img {
        max-width: 75%;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
    }

    .sidebar.explore_lawyer {

        padding: 10px !important;
        margin-left: 0 !important;

    }

    .profile-card_1 {

        padding: 5px !important;

    }

    .card-company {
        width: 50%;


        margin: 0 !important;
        display: block !important;
        flex: unset;
    }

    .profile-card_1 img {
        max-width: 100%;

    }

    .logo__img {

        max-width: 10rem !important;
        ;
    }

    .sidebar-dashboard a i {
        margin: auto !important;
    }

    .card-language.col-9 {
        width: 100% !important;
        flex: 0 0 100% !important;
        min-width: 100%;
    }

    .col-12.d-flex.header_lang .col-3 {
        flex: 0 0 100% !important;
        max-width: 100%;
    }

    div#navbarNavDropdown ul.navbar-nav {
        display: block !important;
    }

    .chat-dashboard .d-flex.justify-content-between.align-items-center.pb-2.mb-3>div {
        width: 100% !important;
        margin-top: 10px;
        text-align: end;
    }

    .chat-dashboard .d-flex.justify-content-between.align-items-center.pb-2.mb-3 {
        flex-direction: column-reverse;
        gap: 20px;
    }

    li.nav-item.nav-box-header a {
        display: inherit;
    }

    li.nav-item.nav-box-header {
        display: inline-block;
        /* flex: 1 1 30%; */
        /* max-width: 30%; */
        width: max-content;
    }

    .footer {

        padding: 5px;

        font-size: 18px;
    }

    .box-profile .container {
        max-width: 100% !important;
        margin: 0 !important;
        padding: 2px;
    }

    .col-lg-3.col-md-12.col-sm-12.sidebar-dashboard {
        padding: 10px !important;
    }

    .input-search-status {

        margin-left: 2px !important;
        margin-right: 2px !important;
    }

    .content-dashboard.col-lg-9.col-md-1 .content,
    .content-dashboard.col-lg-9.col-md-1 {
        min-height: 80vh !important;
        height: auto !important;

    }

    .box-profile .col-lg-3.col-md-6.col-sm-12.text-center {
        padding: 0 !important;
        flex: 0 0 25%;
        max-width: 25% !important;
    }

    .box-profile .img_4 {
        max-height: 40px;
        width: auto;
    }

    .invoice .box-profile-1 {
        margin: 0 !important;
        max-width: 100% !important;
        padding: 10px !important;
    }

    .invoice {
        padding: 0;
    }

    .contact-list-dashboard {
        max-height: 100% !important;
    }


    h2.text_7 {
        font-size: 40px;
    }

    .row.text-center.content-dashboard.box-book.mt-3 {
        margin-bottom: 50px
    }

    .row.text-center.content-dashboard.box-book.mt-3 {
        max-height: max-content;
        padding: 10px 5px;
    }

    .col-lg-2.col-md-3.mb-4.book-1 {
        margin-bottom: 5px !important;
        padding: 5px !important;
    }

    .row.search-bar-lib {
        width: 100%;
        justify-content: flex-start !important;
        display: flex;
        margin: auto;
        margin-bottom: 20px;
    }

    .chat-dashboard ul.nav {
        flex-wrap: nowrap;
        display: flex;
        overflow-x: scroll;
        max-width: 100%;
    }

    .list-document-dashboard .container-details-document-dashboard {
        margin-bottom: 10px !important;
    }

    .list-document-dashboard .icon-practice {
        font-size: 40px !important;
    }

    .list-document-dashboard>.col-lg-3.col-md-6.col-sm-12.text-center.mt-4 {
        display: block !important;
        flex: 1 1 50% !important;
        max-width: 50%;
        padding: 10px;
    }

    .input-search-status {
        width: 100% !important;
    }

    .lawyer-card {
        width: 50%;
    }

    .list-template-dashboard .col-lg-3.col-md-6.col-sm-12.mb-3 {
        width: 50%;
    }

    .content-dashboard.col-lg-9.col-md-1 .name-practice {
        font-size: 17px;
    }

    .list-document-dashboard .col-lg-3.col-md-6.col-sm-12.mt-4.document-item {
        display: block;
        width: 50%;
    }

    /*
    .form-group.file-upload.col-md-12.Template {
        position: absolute;
        bottom: 0;
        left: 0;
    }
     */
    .img-template-dashboard {

        height: 100px !important;

    }

    .chat-dashboard .container.mt-3 {
        margin: 0 !important;
        max-width: 100% !important;
        padding-left: 0 !important;
    }

    .chat-dashboard .d-flex.justify-content-between.align-items-center.pb-2.mb-3 {
        display: flex;
        flex-wrap: wrap;
    }

    .chat-dashboard .tab-content {

        height: auto;
    }

    .chat-dashboard li.nav-item {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 16px !important;
    }

    .chat-dashboard li.nav-item a {

        font-size: 16px !important;
    }

    .list-document-dashboard .col-lg-4.col-md-6.col-sm-12.mt-4.bill-card {
        width: 50%;
    }

    .list-group-item1 .contact-info img.img-contact-dashboard {
        width: 25% !important;
        height: auto;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 50%;
    }

    .icon-message-contact img.img-message-contact {
        width: 20px;
        height: 20px;
    }

    .chat-dashboard {
        height: 80vh !important;
        overflow-y: scroll;
        padding: 5px;
    }

    .list-document-dashboard>.col-lg-3.col-md-6.col-sm-12.mt-4 {
        width: 50%;
        margin-top: 10px !important;
        padding-left: 5px;
        padding-right: 5px;
    }

    .content-dashboard.col-lg-9.col-md-1 {
        width: 80%;
        padding: 0 5px;
    }

    .col-lg-3.col-md-12.col-sm-12.sidebar-dashboard a {
        font-size: 0 !important;
    }

    .content-dashboard.col-lg-9.col-md-1 .content {
        margin-top: 0;
    }

    .col-12.d-flex.header_lang .card-language.col-12 {
        display: block;
        grid-column: 2;
        column-count: 2;
        margin-bottom: 20px;
    }

    /*
    .sidebar.explore_lawyer.col-lg-4.col-md-3.col-sm-12 {
        margin: 0;
        padding: 0;
        display: block;
    }

    .sidebar.explore_lawyer.col-lg-4.col-md-3.col-sm-12 .container {
        max-width: 100% !important;
        padding: 5px !important;
    }
*/
    .sidebar {
        height: auto !important;

    }

    header {
        margin-bottom: 100px;
    }

    nav.navbar.navbar-expand-lg.navbar-light.fixed-top.d-flex.align-items-center {
        max-height: 85px;
        background: #7d7d7dd9;
    }

    .content-dashboard.col-lg-9.col-md-1 h2 {
        font-size: 18px;
    }

    .content-dashboard.col-lg-9.col-md-1 input#statusSearch {
        width: 100%;
    }

    .col-lg-3.col-md-12.col-sm-12.sidebar-dashboard {
        width: 20%;
    }


    h2.text_4 {
        font-size: 25px !important;
    }

    .col-lg-12.col-md-12.col-sm-12.box-news-2 {
        padding: 10px !important;
    }

    .box-news.mt-3 .col-lg-4.news-item.mb-4.p-2.border-bottom {
        flex: 0 0 33% !important;
    }

    .box-news.mt-3 .col-lg-4.news-item.mb-4.p-2.border-bottom {
        flex: 0 0 33% !important;
    }

    .box-news.mt-3 .col-lg-8.news-item.mb-4.p-2.border-bottom {

        flex: 0 0 66.666667% !important;
        max-width: 66.66% !important;
    }

    .search-book {
        display: flex;
        justify-content: right;
        width: 100% !important;
    }

    .col-lg-2.col-md-3.mb-4.book-1 {
        width: 50%;
    }

    .row.text-center.content-dashboard.box-book.mt-3 {
        max-height: 80vh;
    }

    .stars {
        display: inline-block;
        font-size: 16px;
        margin-top: -6px;
    }

    .star-rating {
        display: flex;
        font-size: 16px;
    }

    .title-document-rate {
        font-size: 20px;
    }

    .review {
        display: block !important;
    }

    :has(:is(.chat-dashboard)) .content-dashboard.col-lg-9.col-md-1 {
        width: 100% !important;
    }

    :has(:is(.chat-dashboard)) .col-lg-3.col-md-12.col-sm-12.sidebar-dashboard {
        display: none !important;
        width: 0 !important;
    }

    .card-chat-dashboard {
        max-height: 80% !important;
    }

    .chat-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    div#chat-area {
        position: relative;
        min-height: 77vh;
        padding-bottom: 70px !important;
    }

}

.box-Questions-1 {
    position: relative;
}

a.style-link-box {
    position: absolute;
    font-size: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.row.text-center.content-dashboard.box-book.mt-3 {
    max-height: 80vh;
}

.search-book {
    display: flex;
    justify-content: right;
    width: 40%;
}

.row.search-bar-lib {
    width: 100%;
    justify-content: flex-start !important;
    display: flex;
}

.dropdown-toggle::after {
    display: none !important;
}

.content-dashboard.col-lg-9.col-md-1 .content,
.content-dashboard.col-lg-9.col-md-1 {
    min-height: 80vh !important;
}

.col-lg-3.col-md-12.col-sm-12.sidebar-dashboard,
.content-dashboard.col-lg-9.col-md-1 {
    max-height: 80vh;
    overflow-y: auto;
}

.notification-list {
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 15px;
}

.notification-item {
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.notification-title {
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.notification-link:hover {
    color: black;
    text-decoration: none;
}

.notification-time {
    font-size: 10px;
    display: flex;
    justify-content: end;
}

.notification-clear {
    color: black;
}

.notification-clear:hover {
    color: black;
    text-decoration: none;
}

/** start suggestion **/
.img-user-suggestion {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.img-user-suggestion-details {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.title-suggestion {
    color: black;
}

.title-suggestion:hover {
    color: black;
    text-decoration: none;
}

.name-user-suggestion {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.body-suggestion {
    background-color: #ffffff30;
    border-radius: 15px;
}

.description-suggestion {
    font-size: 25px;
}


/** end suggestion **/

/** start details consultation **/
.btn-bill {
    background-color: rgba(240, 169, 15, 0.767);
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
}

.btn-bill:hover {
    text-decoration: none;
    color: white;
}

.btn-close-consultation {
    background-color: rgb(133, 73, 4);
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
}

.btn-close-consultation:hover {
    text-decoration: none;
    color: white;
}

.search-status {
    /* width: 20%; */
    display: flex;
    justify-content: start;
}

label.me-2 {
    width: max-content !important;
    padding: 0 !important;
}

.input-search-status {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.status-consultation {
    margin-top: 2px;
    font-weight: bold;
    /* font-size: 25px; */
}

.status-consultation.pending {
    color: rgba(240, 169, 15, 0.767);
    text-align: center;
}

.status-consultation.ongoing {
    color: rgb(2, 113, 2);
    text-align: center;
}

.status-consultation.closed {
    color: rgb(133, 73, 4);
    text-align: center;
}

.status-consultation.rejected {
    color: #dc3545;
    text-align: center;
}

.title-details {
    display: block;
    color: black;
    font-weight: bold;
}

.answer-consultation {
    width: 150px;
    border: none;
    border-radius: 15px;
    padding: 5px;
}

.title-details:hover {
    color: black;
    text-decoration: none;
}

.title-consultation-details {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.description-consultation-details {
    font-size: 20px;
}

/** end details consultation **/


/*cases*/

.btn-close-document {
    background-color: green;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
}

.btn-close-document:hover {
    text-decoration: none;
    color: white;
}

.details-template-case {
    position: relative;
    display: inline-block;
}

.download-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    color: #000;
    font-size: 16px;
    text-decoration: none;
}

.download-icon:hover {
    background: rgba(255, 255, 255, 1);
}

.form-group button {
    margin-right: 10px;
}

.template-case {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.card-case {
    background-color: rgb(125 125 125 / 71%);
    border-radius: 15px;
    padding: 5px;
}


.download-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 5px;
    text-align: center;
}

.download-icon:hover {
    color: black;
}

.details-template-case {
    position: relative;
}

.content-Admin {
    border-radius: 15px;
    background-color: rgb(125 125 125 / 71%);
    padding: 20px;
    height: 70ch;
    margin-left: 30px;
}

.nav-dash {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.sidebar a i {
    font-size: 40px !important;
}

.fa-gavel {
    color: rgb(133, 73, 4);
}

.content-Admin h2 {
    color: #000000;
    position: relative;
    bottom: 3rem;
}

.btn-admin {
    background-color: rgb(125 125 125 / 71%);
    color: #fff !important;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    font-weight: bold;
    border-radius: 15px;
    margin-left: 17px;
    /* margin-top: 5px; */
    padding: 7px;
}

.case-details-content {

    background-color: #8d8d8dc4;
    border-radius: 15px;
    padding: 10px;
}

.case-details-content h6 {
    color: #000;
    font-weight: 700;
}

.case-details-content h5 {
    color: #000;
    font-weight: 700;
}

.details {
    padding-left: 15px;
    padding-right: 15px;
}

.box-news.mt-3 {
    max-width: 100% !important;
    max-height: 439px !important;
    height: max-content !important;
}

.box-Questions-1 img {
    max-height: 75px !important;
    margin-bottom: 15px;
    margin-top: 15px !important;

}

.case-details-content-img {
    height: 100px;
    width: 100px;
    border-radius: 15px
}


/*rating */
.star-rating {
    display: flex;
    font-size: 2rem;
}

.star {
    cursor: pointer;
    color: grey;
}

.star.highlight {
    color: gold;
}

.btn-feedback {
    background-color: black;
    color: white;
    border-radius: 15px;
}

.btn-feedback:hover {
    background-color: white;
    color: black;
}

/*lawyers*/

.lawyer-card {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.lawyer-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 50%;

}

.toggle-switch {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-custom {
    background: url("background-image-url.jpg") no-repeat center center;
    background-size: cover;
    padding: 40px 0;
}

.custom-switch {
    display: flex;
    align-items: center;
}

.custom-switch input[type="checkbox"] {
    display: none;
}

.custom-switch input[type="checkbox"]+label {
    position: relative;
    width: 50px;
    height: 20px;
    background: rgb(125 125 125 / 71%);
    border-radius: 10px;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    transition: background 0.3s;
}

.custom-switch input[type="checkbox"]+label:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #050505;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: left 0.3s;
}

.custom-switch input[type="checkbox"]:checked+label {
    background: #ffffff;
}

.custom-switch input[type="checkbox"]:checked+label:before {
    left: 23px;
}

/*lawyersprofile*/
.form-control-lawyer-details {
    border: 1px solid #ddd;
    box-shadow: none;
    font-size: 15px;
    height: 35px;
    width: 100%;
    border-radius: 15px;
    background-color: #e9ecef;
    padding-left: 4px;
    text-align: center;
}

.details-profile-img {
    max-height: 150px;
    width: auto;
    aspect-ratio: 1;
}

.form-control-lawyer-details:focus {
    box-shadow: none;
    border-color: #9b3d00;
    box-shadow: none;
    outline: 0;
}

.label-lawyer-details {
    font-weight: bold;
    font-size: inherit;

}

.image-upload {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 80px;
}



.container-img-details-lawyer {
    justify-content: space-evenly
}

.emirates-img-details {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.certification-img-details {
    width: 80px;
    height: 80px;
    border-radius: 15px;

}

.practices-languages-details {
    height: 70px;
    overflow-y: scroll;
}

.title-details-lawyer {
    margin: 0;
}

.bio-details-lawyer {
    height: 100% !important;
    width: 100% !important;
}

@media screen and (max-width: 815px) {
    .content-Admin {
        height: auto;
    }
}

.content-Admin label {
    font-size: 15px;
    font-weight: 900;
}

/*** practices **/
.icon-practice {
    font-size: 80px;
}

.name-practice {
    font-size: 25px;
}

/*Library*/
.Library {
    border-radius: 15px;
    background-color: rgb(125 125 125 / 71%);
    padding: 20px;
    height: 70ch;
}

.Library-1 {
    max-width: 1200px;
}

.Library h2 {
    padding-left: 30px;
    color: #000;
    font-weight: 700;
}

.Library-part-1 {
    padding-left: 50px;
}

.Library-part-2 {
    background-color: #eae7e74a;
    width: 100%;
    border-radius: 15px;
    overflow-y: scroll;
}

.description-book {
    font-size: 23px;
}

.book-1 {
    transition: all 0.3s ease;
}

.book-1.hidden {
    display: none;
    opacity: 0;
    transform: scale(0.95);
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* general chat */
.add-member {
    font-size: 20px;
}


.user-list-create-group,
.group-list {
    list-style: none;
    padding: 0;
    max-height: 380px;
    overflow-y: auto;
    font-size: 22px;

}

.user-list-create-group li,
.group-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.user-list-create-group li:hover,
.group-list li:hover {
    background-color: #f0f0f0;
    border-radius: 15px
}

.user-list-create-group li i,
.group-list li i {
    margin-right: 10px;
}

.group-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-name-create {
    border: none;
    border-bottom: 1px solid #000;
    margin-right: 10px;
    background: none;
    font-size: 20px;
    text-align: center;
}

.group-name-create::placeholder {
    color: black;
}

.create-button {
    text-align: center;
    background-color: #646262;
    border-radius: 15px;
    width: 50%;
    font-weight: bold;
}

label.custom-control-label {
    font-weight: 800;
}

/*general question*/
.icon-dasbboard-admin {
    width: 40%;
    height: auto;
}

.title-details-question {
    font-size: 25px;
    font-weight: bold;
}


.question-section {
    background-color: #eae7e74a;
    height: 12rem;
    padding: 15px;
    border-radius: 15px;
    overflow-y: scroll;
}

.question-details-question {
    font-size: 18px;

}

.img-client-question {
    width: 150px;
    height: 150px;
}

.name-client-question {
    font-size: 22px;
}

.img-lawyer-question {
    width: 90px;
    height: 90px;
    border-radius: 50%;

}

.name-lawyer-question {
    font-size: 20px;
    font-weight: bold;
}

.lawyer {
    text-align: center;
}


.lawyer p {
    margin: 5px 0 0;
}

.card-lawyer-question {
    overflow-y: scroll;
    height: 30rem;
}


/* bills **/
.status-bills {
    margin-top: 2px;
    font-weight: bold;
}

.status-bills.pending {
    color: rgba(240, 169, 15, 0.767);
    text-align: center;
}

.status-bills.accepte {
    color: rgb(2, 113, 2);
    text-align: center;
}



.status-bills.refund {
    color: #dc3545;
    text-align: center;
}

.bill-details-container {
    background: rgb(125 125 125 / 71%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: left;
}

.bill-details-header {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.bill-details {
    font-size: 16px;
    color: #333;
}

.bill-details p {
    margin-bottom: 10px;
}

.bill-details .label {
    font-weight: bold;
    color: #000;
}

.status {
    font-size: 18px;
    font-weight: bold;
}

.status.accepte {
    color: green;
}

@media (max-width: 768px) {
    form#messageForm .row {
        direction: ltr !important;
    }

    .dropdown-menu {

        min-width: 200px !important;
    }

    ul.navbar-nav li.nav-item.nav-box-header {
        display: none;
    }

    a.link-profile {
        display: block;
        font-size: 12px !important;
        color: #000 !important;
    }

    .card-lawyer-question {
        height: auto !important;
        overflow: unset !important;
    }

    .card-lawyer-question .row {
        display: block !important;
    }

    .col-md-6.mt-4.card-lawyer-question .lawyer {
        margin-top: 10px !important;
        flex: 0 0 100%;
        max-width: 100% !important;
        padding: 5px !important;
    }

    nav.navbar.navbar-expand-lg.navbar-light.fixed-top.d-flex.align-items-center.container {
        margin: 0;
        width: 100% !important;
        max-width: 100% !important;
    }

    .sidebar-dashboard>.container {
        padding: 10px 5px;
        max-width: 100% !important;
    }

    .dropdown-menu {
        background-color: #f8f9fa;
        min-width: 100%;
    }

    .bill-details-container {
        padding: 10px;
    }

    .bill-details-header {
        font-size: 24px;
    }

    .bill-details {
        font-size: 14px;
    }

    .status {
        font-size: 16px;
    }
}


/** notifications **/

.notification {
    position: relative;
    display: inline-block;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.dropdown-menu {
    background-color: #f8f9fa;
    min-width: 300px;
}

.dropdown-menu .dropdown-item {
    color: #343a40;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #ddd;
}

.dropdown-header {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 20px;
}



/**  create group   **/
.icon-forum {
    color: black;
    /* font-size: 25px; */
    width: 50px;
}

.add-member {
    font-size: 20px;
}


.user-list-create-group,
.group-list {
    list-style: none;
    padding: 0;
    max-height: 380px;
    overflow-y: auto;
    font-size: 22px;

}

.user-list-create-group li,
.group-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.user-list-create-group li:hover,
.group-list li:hover {
    background-color: #f0f0f0;
    border-radius: 15px
}

.user-list-create-group li i,
.group-list li i {
    margin-right: 10px;
}

.group-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-name-create {
    border: none;
    border-bottom: 1px solid #000;
    margin-right: 10px;
    background: none;
    font-size: 20px;
    text-align: center;
}

.group-name-create::placeholder {
    color: black;
}

.create-button {
    text-align: center;
    background-color: #646262;
    border-radius: 15px;
    width: 50%;
    font-weight: bold;
}

.message-counter {

    background-color: #9b3e03 !important;
}

@media(max-width:700px) {
    .form-hide-chat {
        display: none !important;
    }

    .message-counter:lang(en) {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #9b3e03 !important;
    }

    p.last-msg.text-smoke:lang(ar) {
        padding-right: 7% !important;
        padding-left: 0 !important;
    }

    .box-profile-chat.box-profile-chat-dashboard .col-lg-8.col-md-12.col-sm-12 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .chat-dashboard .container {
        padding: 0 !important;
    }

    .media-chat .media-body .text-content {
        width: 100%;
    }

    .media-chat .time {
        font-size: 12px !important;
    }

    .media-chat .media-body .text-content,
    .media-chat .message {
        font-size: 15px !important;
    }

    .content-dashboard.col-lg-9.col-md-1 .sidebar-dashboard {
        padding: 5px;
    }

    span.message {
        margin: 0 !important;
    }

    .text-content {
        border-radius: 10px !important;
        padding: 0px 10px !important;
    }

    .message {

        max-width: 95% !important;

    }

    .media-body .text-content {
        text-align: initial;
    }

    .chat-dashboard .d-flex.justify-content-between.align-items-center.pb-2.mb-3 {
        gap: 0;
    }

    .message-counter:lang(ar) {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #9b3e03 !important;
    }

    p.last-msg.text-smoke {
        margin: 0 !important;

    }

    .box-profile-1 .col-lg-4.col-md-6.col-sm-12.mt-3.consultation-card,
    .box-profile-1 .col-lg-4.col-md-6.col-sm-12.consultation-card.bill-card,
    .box-profile-1 .col-lg-3.col-md-6.col-sm-12.mt-4.document-item {
        width: 48%;
        text-align: center;
        padding: 5px;
        margin: 0px;
    }

    .send-document,
    form#messageForm .col-lg-2.d-flex.justify-content-center.align-items-center {
        -ms-flex-align: center !important;
        align-items: center !important;
        flex: 0 0 20%;
        padding: 5px;
    }

    .form-contact-chat,
    form#messageForm .col-lg-10.d-flex.align-items-center {
        flex: 0 0 77%;
        padding: 5px;
    }

    button#fullscreen-button {
        display: none !important;
    }

    .footerchat {
        margin: 0 !IMPORTANT;
        max-width: 100% !important;
    }

    .chat-client-page {
        display: none !important;
    }

    .content-dashboard.col-lg-9.col-md-1 .content,
    .content-dashboard.col-lg-9.col-md-1 {
        min-height: 80vh !important;
        height: auto !important;

    }

    .sidebar-dashboard:lang(ar) a i,
    .icon-dashboard-sidebar:lang(ar) {
        margin-right: 10px !important;
        margin-left: 0 !important;
    }

    .box-profile-1 {
        height: auto !important;

        margin-bottom: 50px;
    }

    .box-profile-1 button.tablinks {
        padding: 16px 5px;
        margin-bottom: 10px;

    }

    .box-profile-1 .search-status {
        margin-left: 10px;
        margin-right: 10px;
    }
}
