@media (max-width:768px) {
    .card-language.col-9 {
        width: 100% !important;
        flex: 0 0 100% !important;
        min-width: 100%;
    }

    .col-12.d-flex.header_lang .col-3 {
        flex: 0 0 100% !important;
        max-width: 100%;
    }

    div#navbarNavDropdown ul.navbar-nav {
        display: block !important;
    }

    .chat-dashboard .d-flex.justify-content-between.align-items-center.pb-2.mb-3>div {
        width: 100% !important;
        margin-top: 10px;
        text-align: end;
    }

    .chat-dashboard .d-flex.justify-content-between.align-items-center.pb-2.mb-3 {
        flex-direction: column-reverse;
        gap: 20px;
    }

    li.nav-item.nav-box-header a {
        display: inherit;
    }

    li.nav-item.nav-box-header {
        display: inline-block;
        /* flex: 1 1 30%; */
        /* max-width: 30%; */
        width: max-content;
    }

    .contact-list-dashboard {
        max-height: 100% !important;
    }

    .container.footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .chat-dashboard ul.nav {
        flex-wrap: nowrap;
        display: flex;
        overflow-x: scroll;
        max-width: 100%;
    }

    .list-document-dashboard .container-details-document-dashboard {
        margin-bottom: 10px !important;
    }

    .list-document-dashboard .icon-practice {
        font-size: 40px !important;
    }

    .list-document-dashboard>.col-lg-3.col-md-6.col-sm-12.text-center.mt-4 {
        display: block !important;
        flex: 1 1 50% !important;
        max-width: 50%;
        padding: 10px;
    }

    .input-search-status {
        width: 100% !important;
    }

    .lawyer-card {
        width: 50%;
    }

    .list-template-dashboard .col-lg-3.col-md-6.col-sm-12.mb-3 {
        width: 50%;
    }

    .content-dashboard.col-lg-9.col-md-1 .name-practice {
        font-size: 17px;
    }

    .list-document-dashboard .col-lg-3.col-md-6.col-sm-12.mt-4.document-item {
        display: block;
        width: 50%;
    }

    /*
    .form-group.file-upload.col-md-12.Template {
        position: absolute;
        bottom: 0;
        left: 0;
    }
     */
    .img-template-dashboard {

        height: 100px !important;

    }

    .chat-dashboard .container.mt-3 {
        margin: 0 !important;
        max-width: 100% !important;
        padding-left: 0 !important;
    }

    .chat-dashboard .d-flex.justify-content-between.align-items-center.pb-2.mb-3 {
        display: flex;
        flex-wrap: wrap;
    }

    .chat-dashboard .tab-content {

        height: auto;
    }

    .chat-dashboard li.nav-item {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 16px !important;
    }

    .chat-dashboard li.nav-item a {

        font-size: 16px !important;
    }

    .list-document-dashboard .col-lg-4.col-md-6.col-sm-12.mt-4.bill-card {
        width: 50%;
    }

    .list-group-item1 .contact-info img.img-contact-dashboard {
        width: 25% !important;
        height: auto;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 50%;
    }

    .icon-message-contact img.img-message-contact {
        width: 20px;
        height: 20px;
    }

    .chat-dashboard {
        height: 80vh !important;
        overflow-y: scroll;
        padding: 5px;
    }

    .list-document-dashboard>.col-lg-3.col-md-6.col-sm-12.mt-4 {
        width: 50%;
        margin-top: 10px !important;
        padding-left: 5px;
        padding-right: 5px;
    }

    .content-dashboard.col-lg-9.col-md-1 {
        width: 80%;
        padding: 0 5px;
    }

    .col-lg-3.col-md-12.col-sm-12.sidebar-dashboard a {
        font-size: 0 !important;
    }

    .content-dashboard.col-lg-9.col-md-1 .content {
        margin-top: 0;
    }

    header {
        margin-bottom: 120px;
    }

    .content-dashboard.col-lg-9.col-md-1 h2 {
        font-size: 18px;
    }

    .content-dashboard.col-lg-9.col-md-1 input#statusSearch {
        width: 100%;
    }

    .col-lg-3.col-md-12.col-sm-12.sidebar-dashboard {
        width: 20%;
    }


    h2.text_4 {
        font-size: 30px !important;
    }

    .col-lg-12.col-md-12.col-sm-12.box-news-2 {
        padding: 10px !important;
    }

    .box-news.mt-3 .col-lg-4.news-item.mb-4.p-2.border-bottom {
        flex: 0 0 33% !important;
    }

    .box-news.mt-3 .col-lg-4.news-item.mb-4.p-2.border-bottom {
        flex: 0 0 33% !important;
    }

    .box-news.mt-3 .col-lg-8.news-item.mb-4.p-2.border-bottom {

        flex: 0 0 66.666667% !important;
        max-width: 66.66% !important;
    }

    .search-book {
        display: flex;
        justify-content: right;
        width: 100% !important;
    }

    .col-lg-2.col-md-3.mb-4.book-1 {
        width: 50%;
    }

    .row.text-center.content-dashboard.box-book.mt-3 {
        max-height: 80vh;
    }
}

.row.text-center.content-dashboard.box-book.mt-3 {
    max-height: 80vh;
}

.search-book {
    display: flex;
    justify-content: right;
    width: 40%;
}

.row.search-bar-lib {
    width: 100%;
    justify-content: flex-start !important;
    display: flex;
}

.dropdown-toggle::after {
    display: none !important;
}

.content-dashboard.col-lg-9.col-md-1 .content,
.content-dashboard.col-lg-9.col-md-1 {
    height: 80vh !important;
}

.col-lg-3.col-md-12.col-sm-12.sidebar-dashboard,
.content-dashboard.col-lg-9.col-md-1 {
    max-height: 80vh;
    overflow-y: auto;
}

.notification-list {
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 15px;
}

.notification-item {
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.notification-title {
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.notification-link:hover {
    color: black;
    text-decoration: none;
}

.notification-time {
    font-size: 10px;
    display: flex;
    justify-content: end;
}

.notification-clear {
    color: black;
}

.notification-clear:hover {
    color: black;
    text-decoration: none;
}

/** start suggestion **/
.img-user-suggestion {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.img-user-suggestion-details {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.title-suggestion {
    color: black;
}

.title-suggestion:hover {
    color: black;
    text-decoration: none;
}

.name-user-suggestion {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.body-suggestion {
    background-color: #ffffff30;
    border-radius: 15px;
}

.description-suggestion {
    font-size: 25px;
}


/** end suggestion **/

/** start details consultation **/
.btn-bill {
    background-color: rgba(240, 169, 15, 0.767);
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
}

.btn-bill:hover {
    text-decoration: none;
    color: white;
}

.btn-close-consultation {
    background-color: rgb(133, 73, 4);
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
}

.btn-close-consultation:hover {
    text-decoration: none;
    color: white;
}

.search-status {
    /* width: 20%; */
    display: flex;
    justify-content: start;
}

.input-search-status {
    width: 50%;
    margin-bottom: 20px;
}

.status-consultation {
    margin-top: 2px;
    font-weight: bold;
    /* font-size: 25px; */
}

.status-consultation.pending {
    color: rgba(240, 169, 15, 0.767);
    text-align: center;
}

.status-consultation.ongoing {
    color: rgb(2, 113, 2);
    text-align: center;
}

.status-consultation.closed {
    color: rgb(133, 73, 4);
    text-align: center;
}

.status-consultation.rejected {
    color: #dc3545;
    text-align: center;
}

.title-details {
    display: block;
    color: black;
    font-weight: bold;
}

.answer-consultation {
    width: 150px;
    border: none;
    border-radius: 15px;
    padding: 5px;
}

.title-details:hover {
    color: black;
    text-decoration: none;
}

.title-consultation-details {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.description-consultation-details {
    font-size: 20px;
}

/** end details consultation **/


/*cases*/

.btn-close-document {
    background-color: green;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 8px;
    border-radius: 15px;
}

.btn-close-document:hover {
    text-decoration: none;
    color: white;
}

.details-template-case {
    position: relative;
    display: inline-block;
}

.download-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    color: #000;
    font-size: 16px;
    text-decoration: none;
}

.download-icon:hover {
    background: rgba(255, 255, 255, 1);
}

.form-group button {
    margin-right: 10px;
}

.template-case {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.card-case {
    background-color: rgb(125 125 125 / 71%);
    border-radius: 15px;
    padding: 5px;
}


.download-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 5px;
    text-align: center;
}

.download-icon:hover {
    color: black;
}

.details-template-case {
    position: relative;
}

.content-Admin {
    border-radius: 15px;
    background-color: rgb(125 125 125 / 71%);
    padding: 20px;
    height: 70ch;
    margin-left: 30px;
}

.nav-dash {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.sidebar a i {
    font-size: 40px !important;
}

.fa-gavel {
    color: rgb(133, 73, 4);
}

.content-Admin h2 {
    color: #000000;
    position: relative;
    bottom: 3rem;
}

.btn-admin {
    background-color: rgb(125 125 125 / 71%);
    color: #fff !important;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    font-weight: bold;
    border-radius: 15px;
    margin-left: 17px;
    /* margin-top: 5px; */
    padding: 7px;
}

.case-details-content {
    height: 40ch;
    background-color: #49464640;
    border-radius: 15px;
    padding: 10px;
}

.case-details-content h6 {
    color: #000;
    font-weight: 700;
}

.case-details-content h5 {
    color: #000;
    font-weight: 700;
}

.box-news.mt-3 {
    max-width: 100% !important;
    max-height: 450px !important;
    height: max-content !important;
}

.box-Questions-1 img {
    max-height: 60px !important;
    margin-bottom: 15px;
}

.case-details-content-img {
    height: 100px;
    width: 100px;
    border-radius: 15px
}


/*rating */
.star-rating {
    display: flex;
    font-size: 2rem;
}

.star {
    cursor: pointer;
    color: grey;
}

.star.highlight {
    color: gold;
}

.btn-feedback {
    background-color: black;
    color: white;
    border-radius: 15px;
}

.btn-feedback:hover {
    background-color: white;
    color: black;
}

/*lawyers*/

.lawyer-card {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.lawyer-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
}

.toggle-switch {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-custom {
    background: url("background-image-url.jpg") no-repeat center center;
    background-size: cover;
    padding: 40px 0;
}

.custom-switch {
    display: flex;
    align-items: center;
}

.custom-switch input[type="checkbox"] {
    display: none;
}

.custom-switch input[type="checkbox"]+label {
    position: relative;
    width: 50px;
    height: 20px;
    background: rgb(125 125 125 / 71%);
    border-radius: 10px;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    transition: background 0.3s;
}

.custom-switch input[type="checkbox"]+label:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #050505;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: left 0.3s;
}

.custom-switch input[type="checkbox"]:checked+label {
    background: #ffffff;
}

.custom-switch input[type="checkbox"]:checked+label:before {
    left: 23px;
}

/*lawyersprofile*/
.form-control-lawyer-details {
    border: 1px solid #ddd;
    box-shadow: none;
    font-size: 15px;
    height: 35px;
    width: 100%;
    border-radius: 15px;
    background-color: #e9ecef;
    padding-left: 4px;
    text-align: center;
}

.details-profile-img {
    max-height: 150px;
    width: auto;
    aspect-ratio: 1;
}

.form-control-lawyer-details:focus {
    box-shadow: none;
    border-color: #9b3d00;
    box-shadow: none;
    outline: 0;
}

.label-lawyer-details {
    font-weight: bold;
    font-size: inherit;

}

.image-upload {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 80px;
}



.container-img-details-lawyer {
    justify-content: space-evenly
}

.emirates-img-details {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.certification-img-details {
    width: 80px;
    height: 80px;
    border-radius: 15px;

}

.practices-languages-details {
    height: 70px;
    overflow-y: scroll;
}

.title-details-lawyer {
    margin: 0;
}

.bio-details-lawyer {
    height: 100% !important;
    width: 100% !important;
}

@media screen and (max-width: 815px) {
    .content-Admin {
        height: auto;
    }
}

.content-Admin label {
    font-size: 15px;
    font-weight: 900;
}

/*** practices **/
.icon-practice {
    font-size: 80px;
}

.name-practice {
    font-size: 25px;
}

/*Library*/
.Library {
    border-radius: 15px;
    background-color: rgb(125 125 125 / 71%);
    padding: 20px;
    height: 70ch;
}

.Library-1 {
    max-width: 1200px;
}

.Library h2 {
    padding-left: 30px;
    color: #000;
    font-weight: 700;
}

.Library-part-1 {
    padding-left: 50px;
}

.Library-part-2 {
    background-color: #eae7e74a;
    width: 100%;
    border-radius: 15px;
    overflow-y: scroll;
}

.description-book {
    font-size: 23px;
}

.book-1 {
    transition: all 0.3s ease;
}

.book-1.hidden {
    display: none;
    opacity: 0;
    transform: scale(0.95);
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* general chat */
.add-member {
    font-size: 20px;
}


.user-list-create-group,
.group-list {
    list-style: none;
    padding: 0;
    max-height: 380px;
    overflow-y: auto;
    font-size: 22px;

}

.user-list-create-group li,
.group-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.user-list-create-group li:hover,
.group-list li:hover {
    background-color: #f0f0f0;
    border-radius: 15px
}

.user-list-create-group li i,
.group-list li i {
    margin-right: 10px;
}

.group-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-name-create {
    border: none;
    border-bottom: 1px solid #000;
    margin-right: 10px;
    background: none;
    font-size: 20px;
    text-align: center;
}

.group-name-create::placeholder {
    color: black;
}

.create-button {
    text-align: center;
    background-color: #646262;
    border-radius: 15px;
    width: 50%;
    font-weight: bold;
}

/*general question*/
.icon-dasbboard-admin {
    width: 50%;
    height: 50%;
}

.title-details-question {
    font-size: 25px;
    font-weight: bold;
}


.question-section {
    background-color: #eae7e74a;
    height: 12rem;
    padding: 15px;
    border-radius: 15px;
    overflow-y: scroll;
}

.question-details-question {
    font-size: 18px;

}

.img-client-question {
    width: 150px;
    height: 150px;
}

.name-client-question {
    font-size: 22px;
}

.img-lawyer-question {
    width: 90px;
    height: 90px;
    border-radius: 50%;

}

.name-lawyer-question {
    font-size: 20px;
    font-weight: bold;
}

.lawyer {
    text-align: center;
}


.lawyer p {
    margin: 5px 0 0;
}

.card-lawyer-question {
    overflow-y: scroll;
    height: 30rem;
}


/* bills **/
.status-bills {
    margin-top: 2px;
    font-weight: bold;
}

.status-bills.pending {
    color: rgba(240, 169, 15, 0.767);
    text-align: center;
}

.status-bills.accepte {
    color: rgb(2, 113, 2);
    text-align: center;
}



.status-bills.refund {
    color: #dc3545;
    text-align: center;
}

.bill-details-container {
    background: rgb(125 125 125 / 71%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: left;
}

.bill-details-header {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.bill-details {
    font-size: 16px;
    color: #333;
}

.bill-details p {
    margin-bottom: 10px;
}

.bill-details .label {
    font-weight: bold;
    color: #000;
}

.status {
    font-size: 18px;
    font-weight: bold;
}

.status.accepte {
    color: green;
}

@media (max-width: 768px) {
    .bill-details-container {
        padding: 10px;
    }

    .bill-details-header {
        font-size: 24px;
    }

    .bill-details {
        font-size: 14px;
    }

    .status {
        font-size: 16px;
    }
}


/** notifications **/

.notification {
    position: relative;
    display: inline-block;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.dropdown-menu {
    background-color: #f8f9fa;
    min-width: 300px;
}

.dropdown-menu .dropdown-item {
    color: #343a40;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #ddd;
}

.dropdown-header {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 20px;
}



/**  create group   **/
.icon-forum {
    color: black;
    /* font-size: 25px; */
    width: 50px;
}

.add-member {
    font-size: 20px;
}


.user-list-create-group,
.group-list {
    list-style: none;
    padding: 0;
    max-height: 380px;
    overflow-y: auto;
    font-size: 22px;

}

.user-list-create-group li,
.group-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.user-list-create-group li:hover,
.group-list li:hover {
    background-color: #f0f0f0;
    border-radius: 15px
}

.user-list-create-group li i,
.group-list li i {
    margin-right: 10px;
}

.group-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-name-create {
    border: none;
    border-bottom: 1px solid #000;
    margin-right: 10px;
    background: none;
    font-size: 20px;
    text-align: center;
}

.group-name-create::placeholder {
    color: black;
}

.create-button {
    text-align: center;
    background-color: #646262;
    border-radius: 15px;
    width: 50%;
    font-weight: bold;
}
