/**********************/

.search_book {
    display: flex;
    justify-content: end;
}

.btn_download_book {
    border: none;
    background: none;
    padding: 0;
    font-size: 17px;
}

.btn_download_book:focus {
    border: none;
}

.explore_lawyer {
    background: none !important;
}

.container {
    max-width: 90% !important;
}

a.link-profile {
    display: block;
}

.header_lang {
    flex-wrap: wrap;
}

.card-language.col-12 {
    display: flex;
    flex-wrap: wrap;
}

.col-12.d-flex.header_lang {
    padding-top: 30px;
}

.filter-lawyer {
    width: 100% !important;
}

.language_company {
    /* background-color: black; */
    color: #000;
    font-weight: 900;
    font-size: 30px;
    display: flex;
    text-align: initial;
    justify-content: start;

}

.filter-translation-companies {
    width: 100%;
}

.name-in-explore-page {
    color: black;
}

.link-in-explore-page:hover {
    text-decoration: none;
}

.upload-documents {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/** general question **/
.box-general-questions {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    max-height: 400px !important;
}

.link-reply-question {
    color: black;
}

.link-reply-question:hover {
    text-decoration: none;
    color: black;
}

.box-reply-question {
    margin: 0 auto;
    background-color: rgb(125 125 125 / 71%);
    width: 80%;
    border-radius: 30px;
    height: 525px;
    overflow-y: scroll;
}

.title-reply-general-question {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;

}

.description-reply-general-question {
    font-size: 20px;
}

.answer-general-question {
    font-weight: 700;
    font-size: 25px;
}

.reply-general-question {
    resize: none;
    width: 100% !important;
    height: 200px !important;
}

.container-btn-posr-reply {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-post-reply {
    background-color: black;
    color: white;
    border: none;
    width: 50%;
    padding: 5px;
    border-radius: 30px;
    font-size: 20px;
}

.img-thank-you {
    text-align: center;
}

.container-box-thank-you {
    justify-content: center;
}

.box-thank-you {
    background-color: rgb(125 125 125 / 71%);
    border-radius: 30px;
    height: 500px;
    width: 80%;
}

.btn-post-GQ-company {
    border: none;
    padding: 5px;
    border-radius: 15px;
    width: 170px;
    height: 45px;
    background-color: #605e5e;
    color: white;
    font-size: 20px;
    text-align: center;
}

.btn-post-GQ-company:hover {
    text-decoration: none;
    color: white;
}

.container-title-company {
    height: 88px;
}

.title-post-company {
    text-align: center;
    font-size: 22px;
    color: black;
    background: none;
    border: none;
}

.title-post-company::placeholder {
    color: black;
    font-weight: 800;
    font-size: 40px;
}

.paragraph-post-company {
    font-size: 20px;
    font-weight: 600;
}

.paragraph-2-post-company {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;

}

.btn-post-comapny {
    width: 100px;
    height: 45px;
    border-radius: 15px;
    border: none;
    background-color: #605e5e;
    color: white;
    font-size: 27px;

    font-weight: bold;

}

/*** end general question **/


/** start sidebar dashboard **/


.sidebar-dashboard {
    background-color: rgb(125 125 125 / 71%);
    padding: 20px;
    border-radius: 15px;
    /* height: 603px;
    overflow-y: scroll; */
}

.icon-dashboard-sidebar {
    width: 100%;
    height: auto;
    max-width: 30px;
    margin-right: 10px;
    min-width: 30px;
}

.sidebar-dashboard a {
    padding: 8px 0;
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    text-decoration: none;
}

.sidebar-dashboard-admin {
    margin: 0 !important;
    /* padding: 6px 0 !important; */
}

.dropdown-menu:lang(ar) {
    right: auto;
    left: 0;
}

.time_message:lang(ar),
.message-counter:lang(ar) {
    float: left;
}

ul.navbar-nav {
    margin-left: 20px;
    margin-right: 20px;
}

.sidebar-dashboard:lang(ar) a i,
.icon-dashboard-sidebar:lang(ar) {

    margin-left: 10px !important;
    margin-right: 0 !important;

}

.sidebar-dashboard a i {
    font-size: 25px;
    width: auto;
    max-width: 30px;
    margin-right: 10px;
    min-width: 30px;
}

.btn-share-suggestions {
    background-color: rgba(240, 169, 15, 0.767);
    border-radius: 15px;
    border: none;
    padding: 10px;
}




.reviews {
    margin-top: 3rem;
}



/** end sidebar dashboard **/



/** start document dashboard **/
.list-document-dashboard {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.title-document-dashboard {
    font-size: 15px;
    margin-top: 5px;
    font-weight: 700;
    margin-bottom: 0px;
}

.list-document-dashboard.suggestion-page .row {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.details-document-dashboard {
    margin-bottom: 0px;
    font-size: 14px;
}

.header-documents-dashboard {
    display: flex;
    justify-content: space-between;
}

.num-documents {
    font-size: 21px;

}

/** end document dashboard **/

/** start template dashboard **/
.list-template-dashboard {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.img-template-dashboard {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.title-template {
    color: black;
}

.title-template:hover {
    color: black;
    text-decoration: none;
}

.icon-file-template {
    font-size: 150px;
    color: whitesmoke;
}

.btn-remove-template {
    background: none;
    border: none;
    display: block;
    position: absolute;
    right: 8px;
    top: 8px;
}

.icon-remove-template {
    font-size: 24px;
    color: #fff;
    border: 1px solid #81807e;
    background: #81807e;
}

.btn-upload-template {
    margin-right: 16px;
    font-size: 17px;
}

.upload-icon-template {
    padding-right: 7px;
}

.btn-store-template {
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 15px;
}

.form-title-template {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.form-container-template {
    background: #49464640;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/** start template dashboard **/


/*start welcome page */
.content-box-welcome {
    display: flex;
    justify-content: center;
    text-align: center;
}

.box_welcome {
    background-color: rgb(125 125 125 / 71%);
    border-radius: 30px;
    height: 500px;
    width: 1200px;
}

.img-welcome {
    width: 800px;
    margin-top: 70px;
}

.welcome-phrase-1 {
    font-weight: 800;
    font-size: 30px;
    position: relative;
    top: -36px;
}

.welcome-phrase-2 {
    position: relative;
    top: 3.5rem;
    font-size: 26px;

}

@media screen and (max-width: 999px) {
    .welcome-phrase-1 {
        position: relative;
        top: -9px;
        left: 9px;
        font-size: 19px;
    }

    .welcome-phrase-2 {
        position: relative;
        top: 14rem;
        font-size: 20px;

    }

    .content {
        margin-top: 10px;
    }
}


/*end welcome page */


/*** start chat dashboard **/
.nav-dashboard {
    color: black;
    font-size: 21px;
    font-weight: 400;
}

.nav-dashboard:hover {
    color: black;
    text-decoration: none;
}

.chat-dashboard {
    border-radius: 15px;
    background-color: rgb(125 125 125 / 71%);
    padding: 20px;
    height: 100% !important;

}

.contact-list-dashboard {
    overflow-y: scroll;
    height: auto;
    max-height: 450px;

}

.contact-list-dashboard .list-group-item1 {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.img-contact-dashboard {
    width: 12% !important;
    height: 12% !important;
    border-radius: 50%;
    margin-right: 10px;
}

.last-message-dashboard {
    padding-left: 7% !important;

}

.box-profile-chat-dashboard {
    background: none !important;
}

.card-chat-dashboard {
    max-height: 423px !important;
}

.icon-group-dashboard {
    font-size: 50px;
    color: black;
    margin-right: 21px;
}

.title-group {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 64%;
}

.title-name-form-chat {
    font-size: 20px;
    font-weight: 600;
}


.img-message-contact {
    border-radius: 0 !important;
}

.list_contact_info-dashboard {
    display: flex;
    justify-content: space-between;
}

/*** end chat dashboard **/


/***** start join lawyer ****/


.box-sign {
    max-width: 1000px !important;
    background-color: rgb(125 125 125 / 71%);
    height: auto;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}

.box-sign h2 {
    color: #000000;
    font-weight: 700;
}

.form-group-sign {
    margin-bottom: 1rem;
}

.form-check {
    margin-bottom: 1rem;
}

.file-upload {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    padding: 6px;
    border-radius: 5px;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload label {
    margin-left: 10px;
    cursor: pointer;
    color: #070707;
}

/* .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.submit-btn button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn button:hover {
    background-color: #495057;
}

.icon-upload-sign {
    font-size: 1.5rem;
    margin-right: 10px;
}

.profile-photo-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.profile-photo-sign img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.upload-icon-sign {
    font-size: 24px;
    color: #000000;
    padding-left: 30px;
}

.file-upload {
    border: none;
}

.form-control-sign {
    border-radius: 15px;
    width: 100%;
}

.form-group-sign label {
    font-weight: 800;
    color: #000000;
}

.btn1 {
    background: black;
    color: #fff !important;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.chek label {
    color: brown;
    font-weight: 700;
}

.form-group-sign {
    margin-bottom: -5px;
}

.form-check {
    margin-bottom: -3px;
}

.form-input-1 {
    height: 30px;

    text-indent: 33px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(77, 76, 76);
    background-color: #9ca3af00;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;

    justify-content: right;
}

.form-input-1:focus {
    box-shadow: none !important;
    border: none !important;
}

.form-check-input:lang(ar) {

    margin-right: -1.25rem;
    margin-left: unset !important;
}

.form-group-sign {
    display: flex;
    align-items: center;
    margin-bottom: 5px !important;
}

.label-inline {
    text-align: initial;
    white-space: nowrap;
}

.form-group-sign textarea {
    height: 100px;
}

.form-control-sign {
    flex: 1;
    text-align: center;

    border: none;
    height: 30px;
}

.file-upload {
    margin-bottom: 20px;
    margin-left: -10px !important;
}

.image-preview-container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 10px;
    margin-top: 10px;
}

.img-box img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: relative;
    top: 15px;
}

.img-box-2 {
    width: 100%;
    position: absolute;
    top: 40px;
    right: 3px;
    height: 80px;

    overflow-y: scroll !important;
}

.img-box-1 {
    width: 100%;
    position: absolute;
    top: 40px;

    height: 80px;

    overflow-y: scroll !important;
}

.label-inline {
    display: block;
    margin-bottom: 5px;
}

.upload-icon {
    margin-left: -20px;
}

.input-inline {
    display: block;
}

.Expertise {
    color: #000;
    font-weight: 800;

    padding-left: 5px;
}

.form-check-1 {
    color: #000;
    font-weight: 600;
    height: 100px;
    overflow-y: scroll;
}

.image-preview-container-1 img {
    width: 80px;
    max-height: 50px;
    margin-top: 80px;
}

.chek {
    margin-left: 5px;
}

/*
.email-1 {
    position: relative;
    bottom: 10px;
}

.mobile-1 {
    position: relative;
    bottom: 10px;
}

.land-1 {
    position: relative;
    bottom: 5px;
    height: 20px;
}

.country-1 {
    position: relative;
    bottom: 105px;
}

.city-1 {
    position: relative;
    bottom: 113px;
    height: 20px;
}

.location-1 {
    position: relative;
    bottom: 183px;
}

.id-1 {
    position: relative;
    bottom: 183px;
}

.id-front {
    bottom: 183px;
    height: 50px;
    position: relative;
}

.id-back {
    bottom: 120px;
    height: 50px;
    position: relative;
}
    .submit-btn {
    display: flex;
    justify-content: right;
    position: relative;
    bottom: 112px;
}

*/
.profile-container {
    position: relative;
    width: 100px;
    height: 100px;

    text-align: center;
}


.profile-photo {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("img/Full_Website_-_LAWYER_V1__5_-removebg-preview.png");

    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
}

.profile-photo label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
}

#profilePhotoInput {
    display: none;
}

.box-sign {
    margin-bottom: -10px !important;
}

.image-preview-container-1 {
    position: relative;
    display: inline-block;
}

.image-preview {
    position: relative;
    display: inline-block;
    margin-top: 90px;
}

.image-preview img {
    max-width: 100%;
    max-height: 130px;
    margin-top: 10px;
}

.image-preview .delete-icon {
    position: absolute;
    top: 5px;
    background-color: red;
    text-align: center;
    border: none;
    border-radius: 50%;
    color: #ccc;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.delete-icon-1 {
    position: relative;
    bottom: 60px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
}

/*
@media screen and (max-width: 755px) {
    .box-sign {
        min-height: 100%;
    }

    .form-group-sign {
        margin-top: 30px;
    }

    .email-1 {
        position: relative;
        bottom: 10px;
    }

    .mobile-1 {
        position: relative;
        bottom: 10px;
    }

    .land-1 {
        position: relative;
        bottom: 5px;
        height: 20px;
    }

    .country-1 {
        position: relative;
        bottom: 50px;
    }

    .city-1 {
        position: relative;
        bottom: 60px;
        height: 20px;
    }

    .location-1 {
        position: relative;
        bottom: 183px;
    }

    .id-1 {
        position: relative;
        bottom: 183px;
    }

    .id-front {
        bottom: 90px;
        height: 50px;
        position: relative;
    }

    .id-back {
        bottom: 85px;
        height: 50px;
        margin-bottom: 40px;
        position: relative;
    }

    .submit-btn {
        display: flex;
        justify-content: right;
        position: relative;
        top: 80px;
    }

    .bio {
        position: relative;
        top: 70px;
    }

}*/




/***** end join lawyer ****/
.form-group-sign.col-md-6.bio {
    text-align: initial;
}

/**** start join translation company ***/

/*sign**/

.box-sign-2 {
    background-color: rgb(125 125 125 / 71%);
    height: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px !important;
    max-height: 80vh;
    overflow-y: scroll;
}

/*
.box-sign-2 h2 {
    color: #000000;
    font-weight: 700;
    text-align: center;
    position: relative;
    right: 10rem;
}

.email-2 {
    position: relative;
    bottom: 40px;
}

.mobile-2 {
    position: relative;
    bottom: 40px;
}

.land-2 {
    position: relative;
    bottom: 35px;
    height: 20px;
}

.country-2 {
    position: relative;
    bottom: 30px;
}

.city-2 {
    position: relative;
    bottom: 25px;
    height: 20px;
}

.location-2 {
    position: relative;
    bottom: 20px;
}

.password-1 {
    position: relative;
    bottom: 20px;
}

.re-password-1 {
    position: relative;
    bottom: 20px;
}

.id-back-1 {
    position: relative;
    bottom: 15px;
    height: 20px;
}
*/
@media screen and (max-width: 755px) {
    .box-sign-2 {
        min-height: auto;
    }



    .img-box-2 {
        height: 50px;
    }

    /*
    .submit-btn {
        display: flex;
        justify-content: right;
        position: relative;
        top: 80px;
    }
        */

    /*
    .file-upload {
        position: relative;

    }

    .file-upload-1 {
        position: relative;
        top: 22rem !important;
    }

    .id-back-1 {
        position: relative;
        bottom: 20px;
    }
*/
    .image-preview-container {
        height: 50px;
    }
}

.lang-1 {
    font-weight: 900;
    color: #000;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 555px) {
    .box-sign-2 h2 {
        position: relative;
        left: 1px;
    }
}

/**** end join translation company ***/

/** start review    **/
.commet-review {
    margin-left: 0 !important;
    width: 100% !important;
}

.name-client-rate {
    display: flex;
    justify-content: end;
    font-size: 20px;
}

.title-document-rate {
    font-size: 25px;

}

.star {
    color: rgb(58, 58, 58);
    /* اللون الافتراضي للنجوم */
    font-size: 24px;
}

.star.filled {
    color: rgba(255, 191, 0, 0.797);
}

.star.half-filled {
    position: relative;
}

.star.half-filled::before {
    content: '★';
    color: rgba(255, 191, 0, 0.797);
    position: absolute;
    width: 50%;
    overflow: hidden;
}

/** end review    **/





/* ******** */
/*sign**/

.box {
    background-color: rgb(125 125 125 / 71%);

    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}

.box h1 {
    color: #000000;
}

h1.text_5 {
    text-align: initial;
}

.form-group-sign.file-upload.available-24.col-md-12 {
    padding: 20px;
}

label.form-check-label.available-text {
    color: #000;
    font-weight: 900;
}

.submit-btn {
    text-align: initial;
}

.form-group {
    margin-bottom: 1rem;
}

small.form-text.text-danger {
    text-align: initial;
}

.form-check {

    text-align: initial;
    padding-right: 1.25rem;
}

.Expertise.col-md-3 {
    text-align: initial;
}

.file-upload {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    padding: 6px;
    border-radius: 5px;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload label {
    margin-left: 10px;
    cursor: pointer;
    color: #070707;
}

/* .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .submit-btn button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

/* .submit-btn button:hover {
    background-color: #495057;
} */

.icon-upload {
    font-size: 1.5rem;
    margin-right: 10px;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-photo img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.upload-icon {
    font-size: 24px;
    color: #000000;
    padding-left: 3px;
    cursor: pointer;

}

#remove_file {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 50px;
}

.icon-remove {
    font-size: 24px;
    color: red !important;
    border: 1px solid #000;
}

.bx-file {

    font-size: 25px !important;
    color: black;

}

.form-group-sign.col-md-6.d-b {
    display: flex !important;
    gap: 20px;
}

.file-upload {
    border: none;
}

.form-control {
    border-radius: 15px;
    width: 100%;
}

.form-group label {
    font-weight: 800;
    color: #000000;
}

.btn1 {
    background: black;
    color: #fff !important;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.chek label {
    color: brown;
    font-weight: 700;
}

.form-row {
    padding-left: 50px;
    padding-top: -2px;
}

.form-input-1 {
    height: 30px;

    text-indent: 33px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(77, 76, 76);
    background-color: #9ca3af00;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;

    justify-content: right;
}

.form-input-1:focus {
    box-shadow: none !important;
    border: none !important;
}

.icon-header {
    font-size: 28px;
}

@media screen and (max-width: 999px) {
    .img-profile {
        display: none;
    }
}

.img-profile {
    width: 4rem;

    border-radius: 90rem;
}

.box_q {
    width: 95%;
    margin-top: 8rem;
    margin-bottom: 3rem;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(125 125 125 / 71%);
}

.box_q .p1 {
    color: #000000;
    font-size: 40px;
    font-weight: 900;
}

.box_q .p2 {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10rem;
}

.sidebar {
    /* height: 100vh; */
    background-color: rgb(125 125 125 / 71%);
    padding: 20px;
    margin-left: 20px;
    border-radius: 15px;
}

.sidebar a {
    padding: 10px 0;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    text-decoration: none;
}

.sidebar a i {
    margin-right: 10px;
    font-size: 30px;
}

.content {
    border-radius: 15px;
    background-color: rgb(125 125 125 / 71%);
    padding: 20px;
    height: 72ch;
    overflow-y: scroll;
}

.reviews {
    display: flex;
    align-items: center;
}

.reviews .stars {
    margin-right: 10px;
    font-size: 30px;
    color: rgba(240, 169, 15, 0.767);
}

.footer i {
    font-size: 25px;
}

.footer {
    color: #000;
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
}

.footer:hover {
    text-decoration: none;
    color: black;
}



.fa-gavel {
    color: rgb(133, 73, 4);
}

.fa-star {
    color: rgba(240, 169, 15, 0.767);
}

#myChart label {
    color: #000000;
}

.img-doc {
    width: 5rem;
}

.Template {
    display: flex;
    justify-content: right;
}

.review-box {
    margin: 10px 0;
    border-radius: 10px;
}

.review {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stars {
    display: inline-block;
    font-size: 25px;
}

.stars .filled {
    color: #ffcc00;
}

.stars .empty {
    color: #ddd;
}

.review-input {
    width: 70%;
    margin-right: 10px;
}

.star-rating {
    display: flex;
    align-items: center;
}

.evaluation {
    font-weight: 700;
}

.book {
    width: 100px;
    height: 150px;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-1 {
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding: 10px;
}

.download-link i {
    font-size: 1.5rem;
    color: #000;
}

.form {
    position: relative;
}

.form i {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000000 !important;
    font-size: 20px;
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: #9ca3af00;
}

.form-input:focus {
    box-shadow: none !important;
    border: none !important;
}

.search-book {
    display: flex;
    justify-content: right;
}

.search-book-1 {
    border: 1.5px solid black;
}

.box-book {
    border-radius: 15px;
    background-color: rgb(125 125 125 / 71%);
    padding: 30px;
    overflow-y: scroll;
    font-weight: 700;
}

.card-language .form-row {
    padding-left: 0 !important;
}

.profile-card_1 {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0;
}

.profile-card_1 img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.continer_1 {
    overflow-y: scroll;
}

div#company-list .col-lg-3.col-md-6.col-sm-12 {
    width: 50%;
    padding: 5px;
}

.form-group-sign {
    display: block !important;
}

.row.search-bar-lib .col-lg-12.col-md-12.col-sm-12.search_book {
    justify-content: flex-start !important;
}

.row.search-bar-lib .col-lg-12.col-md-12.col-sm-12.search_book {
    justify-content: flex-start !important;
}

.box1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    border-radius: 15px;
    justify-content: center;
    margin: 0 auto;
    /* Centers the box horizontally */

    background-color: rgb(125 125 125 / 71%);
    /* margin-top: 13rem; */
    min-height: 80vh;
    /* Ensures the box takes at least the full viewport height */
    overflow-y: scroll;
}



.p1 {
    font-weight: 700;
}

.img-q {
    width: 6rem;
    margin-top: 1rem;
}

.h2 {
    margin-top: 2rem;
}

.form-Explore {
    display: flex;

    justify-content: right;
}

.form-Explore i {
    position: absolute;

    color: rgb(77, 76, 76) !important;
    font-size: 20px;
}

.textarea-1 {
    resize: none;
}

.box-text {
    padding-left: 3rem;
    padding-top: 50px;
}


/* .submit-btn {
    padding-right: 3rem;
} */

.btn2 {
    margin-left: 8rem;
    border-radius: 15px;
}

.black-1 {
    color: #000;
    font-weight: 800;
    margin-top: 5rem;
}

.card-body {
    text-align: center;
    color: #000;
    font-weight: 500;
}

.canvas {
    width: 100% !important;
    height: 10rem !important;
}

.p-dash {
    font-weight: 600;
    font-size: 20px;
}

.card-dash {
    border: 1px solid #000;
    border-radius: 15px;
    font-weight: 600;
    font-size: 15px;
}

.legend {
    font-weight: 700;
}

.legend .span-1 {
    color: rgb(133, 73, 4);
}

.legend .span-2 {
    color: rgba(240, 169, 15, 0.767);
}

.legend .span-3 {
    color: white;
}

#billsButton {
    background-color: rgba(240, 169, 15, 0.767);
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.tab-content {
    display: none;

}

.tab-content.active {
    display: block;
}


#contact-list .list-group-item1 {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}



#chat-window {
    display: flex;
    flex-direction: column;
    height: 75vh;
}

.chat-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

#chat-body {
    flex-grow: 1;
    padding: 15px;
    overflow-y: scroll;
}

.chat-footer {
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
}

.chat-footer input {
    flex-grow: 1;
    margin-right: 10px;
}

.chat-message {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.chat-message.sent {
    justify-content: flex-end;
}

.chat-message.received {
    justify-content: flex-start;
}

.chat-message span {
    padding: 10px 15px;
    border-radius: 20px;

    border: 1px solid #ddd;
}

.chat-message.sent span {
    background-color: #000000;
    color: #fff;
    border: none;
}

.chat-header img {
    width: 50px;
    height: 50px;
}

.icon-box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.icon-box .icon {
    margin-left: 5px;
}

.icon-box a {
    font-size: 15px;
    flex-wrap: 3;
    text-decoration: none;
    color: black;
    display: inline-block;
    font-weight: 600;
}
